body {
    /*背景图片*/
    background-image: url('https://dogefs.s3.ladydaily.com/~/source/wallhaven/full/jx/wallhaven-jxl3qp.jpg?w=2560&h=1440&fmt=webp');
    background-repeat: no-repeat;
    background-size: cover;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); /* 这里的0.5是遮罩的透明度*/
    z-index: -1;
}

.el-table {
    opacity: 0.7;
}

#checkTheme {
    background-color: rgba(0, 0, 0, 0);
}

.el-table {
    border-radius: 10px; /* 设置圆角的半径 */
    overflow: hidden; /* 隐藏超出边界的内容 */
}

.el-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.el-aside {
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.el-header {
    height: 550px; /* 调整为所需的高度 */
}

.el-aside {
    height: 550px; /* 调整为所需的高度 */
}