body {
    /*背景图片*/
    background-image: url('https://dogefs.s3.ladydaily.com/~/source/wallhaven/full/jx/wallhaven-jxl3qp.jpg?w=2560&h=1440&fmt=webp');
    background-repeat: no-repeat;
    background-size: cover;
}


.el-table {
    opacity: 0.7;
}

#checkTheme {
    background-color: rgba(0, 0, 0, 0);
}